* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(120deg, #f8f9fa, #e0e0e0);
    color: #5C4033;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo {
    font-size: 2em;
    color: #5C4033;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #007BFF;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://img.freepik.com/premium-photo/abstract-floral-line-art-soft-pastel-colors-modern-home-decor_1121645-8908.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    opacity: 50%;
}


.header-content h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 2px;
    color: #5C4033
    ;
}


.header-content p {
    font-size: 1.2em;
    margin-bottom: 25px;
    color: #5C4033;
}

.btn {
    padding: 10px 30px;
    font-size: 1.1em;
    color: #fff;
    background: #007BFF;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #0056b3;
}

.about {
    padding: 50px 0;
    background: #f8f9fa;
    text-align: center;
    display: block;
}

.about h2 {
    font-size: 2.5em;
    color: darkgrey;
    margin-bottom: 30px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}

.about p {
    font-size: 1.1em;
    line-height: 1.6;
    width: 50%;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.skills {
    padding: 50px 0;
    text-align: center;
    background: #fff;
}

.skills h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: darkgrey;
}

.skill-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.skill-item {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-basis: 45%;
    transition: transform 0.3s ease;
}

.skill-item:hover {
    transform: translateY(-5px);
}

.skill-item h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 30px 0;
    background-color: #343a40;
    color: #f8f9fa;
}

footer a {
    color: darkgrey;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: darkgrey;
}

footer p {
    font-size: 1.1em;
}
